{% extends "base_with_header.jinja2" %}

{% block content %}
<div class="flex h-screen flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <h2 class="text-center text-2xl font-bold leading-9 tracking-tight">
            Sign in to your account
        </h2>
    </div>

    <div class="mt-5 sm:mx-auto sm:w-full sm:max-w-sm">
        <button type="button" class="flex items-center bg-indigo-500 w-full border border-transparent py-3 px-6 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" x-data @click="window.location.href = '{{ discord_auth_url }}'">
            <i class="fa-brands fa-discord fa-2xl" ></i>
            <div class="pl-10">
                Continue with Discord
            </div>
        </button>
    </div>
    <div class="mt-5 sm:mx-auto sm:w-full sm:max-w-sm">
        <button type="submit" class="flex items-center bg-blue-500 w-full border border-transparent py-3 px-6 text-sm font-medium text-white shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">
            <i class="fa-brands fa-google fa-2xl" ></i>
            <div class="pl-10">
                <a href="{{ google_auth_url }}">
                    Continue with Google
                </a>
            </div>
        </button>
    </div>
    <div class="mt-5 sm:mx-auto sm:w-full sm:max-w-sm">
        <button type="submit" class="flex items-center bg-purple-500 w-full border border-transparent py-3 px-6 text-sm font-medium text-white shadow-sm hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">
            <i class="fa-brands fa-twitch fa-2xl" ></i>
            <div class="pl-10">
                <a href="{{ twitch_auth_url }}">
                    Continue with Twitch
                </a>
            </div>
        </button>
    </div>
    <div class="mt-5 sm:mx-auto sm:w-full sm:max-w-sm">
        <button type="submit" class="flex items-center bg-slate-950 w-full border border-transparent py-3 px-6 text-sm font-medium text-white shadow-sm hover:bg-slate-500 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">
            <i class="fa-brands fa-microsoft fa-2xl" ></i>
            <div class="pl-10">
                Continue with Microsoft
            </div>
        </button>
    </div>
    <div class="mt-5 sm:mx-auto sm:w-full sm:max-w-sm">
        <button type="submit" class="flex items-center bg-slate-950 w-full border border-transparent py-3 px-6 text-sm font-medium text-white shadow-sm hover:bg-slate-500 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">
            <i class="fa-brands fa-apple fa-2xl" ></i>
            <div class="pl-10">
                Continue with Apple
            </div>

        </button>
    </div>
</div>
{% endblock content %}
