{% extends "base_with_header.jinja2" %}

{% block content %}
<div class="flex h-screen flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <h2 class="text-center text-2xl font-bold leading-9 tracking-tight">
            Authorized
        </h2>
    </div>
    <div class="mt-5 sm:mx-auto sm:w-full sm:max-w-sm">
        <form action="/logout" method="post">
            <button type="submit" class="flex justify-center bg-indigo-500 w-full border border-transparent py-3 px-6 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                Logout
            </button>
        </form>
    </div>
</div>
{% endblock %}
